.mainHeader {
  text-align: right;
  padding-right: 30px;
  font-family: "Sixtyfour Convergence";
  align-items: right;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  
}
.mainHeaderSol {
  font-size: 150px;
  margin: 0;
  padding: 0;
  flex-shrink: 5;
  flex-grow: 5;
}
.mainHeaderHacker {
  font-size: 70px;
  padding: 0;
  flex-shrink: 5;
  flex-grow: 5;
}
.slogan {
  text-align: right;
  padding-right: 30px;
  font-family: "Dosis";
  font-size: 35px;
  color: aliceblue;
}
body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu {
  display: flex;
  flex-direction: row-reverse;
}
input {
  color: white;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: "Dosis";
  background: none;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0px;
  flex-shrink: 5;
  flex-grow: 5;
}
