body {
  background-color: black;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70%;
  width: 100%;
  overflow: hidden;
}
