body {
  background-color: black;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.menu {
  display: flex;
  flex-direction: row-reverse;
}
input {
  color: white;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: "Dosis";
  background: none;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0px;
  flex-shrink: 5;
  flex-grow: 5;
}
.mainHeader {
  text-align: right;
  padding-right: 30px;
  font-family: "Sixtyfour Convergence";
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.mainHeaderSol {
  font-size: 100px;
  margin: 0px;
  padding: 0px;
  flex-shrink: 5;
  flex-grow: 5;
}
.mainHeaderHacker {
  font-size: 65px;
  padding: 0px;
  flex-shrink: 5;
  flex-grow: 5;
}
h1 {
  margin-bottom: 0px;
  margin-top: 60px;
}
h2 {
  margin: 0px;
}
.slogan {
  text-align: right;
  padding-right: 30px;
  font-family: "Dosis";
  font-size: 50px;
  color: aliceblue;
}
h3 {
  margin: 10px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: "Dosis";
  padding-bottom: 10px;
  gap: 180px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}
.socials {
  display: flex;
  justify-content: space-evenly;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
img {
  width: 60px;
  height: 60px;
}
p {
  font-size: 20px;
  margin-bottom: 5px;
}
h4 {
  font-size: 25px;
  margin-top: 1px;
}
